body {
  background-color: floralwhite;
  text-align: left;
  
}

h1 {
  color: slategray;
  text-align: center;
  font-size: 50px;
  font-family: courier new;
}

p {
  font-family: Courier New;
  font-size: 20px;
  text-align: center;
  color: slategray;
}

p1 {
  font-family: Courier New;
  font-size: 20px;
  text-align: center;
  color: slategray;
}

pre {
  font-family: Courier New;
  font-size: 20px;
  text-align: center;
  color: slategray;
}

a {
	text-align: center-left;
	font-family: Courier New;
	font-size: 20px;
	color: violet
}

h2 {
	font-family: Courier New;
	font-size: 20px;
	text-align: center-left;
	color: slategray;
}

ul {
	font-family: Courier New;
	font-size: 20px;
	font-style: Bold;
	color: slategray;
	text-align: center-left;
]
