<style>body {
  background-color: aliceblue;
  text-align: left;
  
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: courier new;
}

p {
  font-family: Courier New;
  font-size: 20px;
}
</style>
